@charset "UTF-8";

@import url(pc.css) screen and (min-width: 53.75em);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  --min-width: 280px;
  --width: 100vw;
  --max-width: 450px;
  --margin-left-12: 12px;
  --padding-8: 8px;
  font-family: "Noto Sans KR", "sans-serif";
  font-size: 1rem;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  min-width: var(--min-width);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto 24px;
}

img {
  vertical-align: top;
  max-width: 100%;
}

/* 로그인 확인 여부 */
.login-pop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: var(--margin-left-12);
}
.login {
  font-size: 1.125rem;
  font-weight: 500;
}
.login__link {
  font-size: 1.125rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.login__span {
  display: inline-block;
  border-bottom: 1px solid black;
}
.cart__img {
  background-image: url(../img/imageSprite/mGmarket-20.png);
  background-position: calc(-48px * 6) 0px;
}

/* 검색 영역 */
.search {
  width: calc(100% - 24px);
  margin: 8px var(--margin-left-12);
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #04bb1d, #2384e0) border-box;
}
.search__link {
  text-decoration: none;
  color: gray;
  display: block;
}
.search__placeholder {
  padding-left: 8px;
}

/* 글로벌네비게이션 */
.gnb {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  width: 100%;
  background-color: white;
}

.gnb__list {
  width: intrinsic; /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
  left: 0;
}

.gnb__item {
  padding: var(--padding-8);
}
.gnb__item-link {
  display: block;
  color: rgba(97, 97, 97);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.gnb__item-link[class*="--green"] {
  --color-green: #00c400;
  color: var(--color-green);
  border-bottom-color: var(--color-green);
  transition: 0s;
}
.gnb__item-link[class*="--blue"] {
  --color-blue: #072182;
  color: var(--color-blue);
  border-bottom-color: var(--color-blue);
}

/* .gnb__list {
  width: 100%;
  display: flex;
  margin-left: calc(var(--margin-left-12) - var(--padding-8));
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;

  -ms-overflow-style: none;

  scrollbar-width: none;
} */
/* 크롬 및 사파리 */
/* .gnb__list::-webkit-scrollbar {
  display: none;

/* 풋터 */
.bottom-gnb {
  position: fixed;
  min-width: var(--min-width);
  width: 100%;
  max-width: var(--max-width);
  bottom: 0;
}
.bottom-gnb__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ececec;
  border-bottom: none;
}
.bottom-gnb__item {
  flex: 1;
}
.bottom-gnb__link {
  display: block;
  text-align: center;
}
.bottom-gnb__img {
  background-image: url(../img/imageSprite/mGmarket-20.png);
}
.bottom-gnb__item:nth-of-type(1) .bottom-gnb__img {
  background-position: calc(-48px * 2);
}
.bottom-gnb__item:nth-of-type(2) .bottom-gnb__img {
  background-position: calc(-48px * 3);
}
.bottom-gnb__item:nth-of-type(3) .bottom-gnb__img {
  background-position: calc(-48px * 4);
}
.bottom-gnb__item:nth-of-type(4) .bottom-gnb__img {
  background-position: calc(-48px * 5);
}
