@charset "UTF-8";
@import "header.css";
@import "main.css";
@import "footer.css";

/* IR */
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  margin: -1px;
  position: absolute;
}

:root {
  font-size: 0.75rem;
}

/* reset css */
* {
  margin: unset;
  padding: unset;
  list-style: none;
  border: unset;
  position: relative;
}

/* start */
body {
  width: 80vw;
  max-width: 1080px;
  margin: 32px auto;
}
