@charset "UTF-8";

:root {
  min-width: 280px;
  /* 백그라운드 색상 */
  --bg-white: #fff;
  --bg-black: #000;
  --bg-night-rider: #323232;
  --bg-alabaster: #f6f5ef;
  --bg-bokara-gray: #2d2926;
  --bg-dim-gray: #666;
  --bg-racing-green: #1e3932;
  --bg-watercoures: #00704a;
  --bg-kabul: #645952;
  --bg-cork: #554c46;
  --bg-elipes: #453d3d;
  --bg-brandy-punch: #b9813e;
  --bg-nero: #222;
  --bg-rgba-black-7: rgba(0, 0, 0, 0.7);
  --bg-transparent: transparent;

  /* 텍스트 색상 */
  --text-nobel: #999;
  --text-white: #fff;
  --text-nobel: #999;
  --text-pigment-green: #00b050;
  --text-black: #000;

  /* 보더 색상 */
  --border-nero: #222;

  /* 폰트 패밀리 */
  --font-body-family: "IBM Plex Sans KR", "Noto Sans KR", "맑은 고딕",
    "Malgun Gothic", sans-serif;
  --font-heading-family: "Jua", "IBM Plex Sans KR", "Noto Sans KR", "맑은 고딕",
    "Malgun Gothic", sans-serif;

  /* 기본 폰트 패밀리 */
  font-family: var(--font-body-family);

  /* 폰트 사이즈 */

  /* 폰트 크기 */

  --font-light: 400;
  --font-normal: 500;
  --font-bold: 700;
}

.hidden {
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  margin: -1px;
  clip: rect(0px 0px 0px 0px);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.header__lnb,
.header__lnb-list {
  animation-duration: 0.4s;
  animation-timing-function: steps(150);
  animation-fill-mode: forwards;
}

.header__lnb.OPEN,
.header__lnb-list.OPEN {
  animation-name: GNB_ANIMATION_OPEN;
}

.header__lnb.CLOSE,
.header__lnb-list.CLOSE {
  animation-name: GNB_ANIMATION_CLOSE;
}

@keyframes GNB_ANIMATION_OPEN {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}
@keyframes GNB_ANIMATION_CLOSE {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(100vw);
  }
}

.header__sub-lnb,
.header__lnb-last-lnb {
  height: 0;
  overflow-y: hidden;
}

.header__lnb-btn-icon.OPEN {
  background-position: calc(-48px * 15);
}
