@charset "UTF-8";

@import url(GoogleFont.css);
@import url(reset.css);

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip: rect(0px 0px 0px 0px);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
}

img {
  width: 48px;
  height: 48px;
  vertical-align: top;
}
