* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
ul,
summary {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}
button {
  background: none;
}
a {
  display: inline-block;

  text-decoration: none;
}
sup {
  vertical-align: super;
  font-size: xx-small;
}
