:root {
  /* 백그라운드 컬러 */
  --bg-white: white;
  --bg-black: black;
  --bg-alabaster: #f6f5ef;
  --bg-cork: #554c46;
  --bg-kabul: #645952;
  --bg-nero: #222;
  --bg-bokara-gray: #2d2926;
  --bg-dim-gray: #666;
  --bg-watercourse: #00704a;
  --bg-racing-green: #1e3932;
  --bg-transparent: transparent;
  --bg-rgba-black-7: rgba(0, 0, 0, 0.7);
  --bg-rgba-black-5: rgba(0, 0, 0, 0.5);

  /* 폰트 색상 */
  --text-color-white: white;
  --text-color-black: black;
  --text-color-bon-jour: #e6dbd3;
  --text-color-gray: #666;
  --text-color-eclipse: #453d3d;
  --text-color-very-light-gray: #ccc;
  --text-color-watercourse: #00704a;

  /* 폰트 사이즈 */

  /* 상대 간격 */
  --rem-gap-4px: 0.25rem;
  --rem-gap-8px: calc(var(--rem-gap-4px) * 2);
  --rem-gap-12px: calc((var(--rem-gap-8px) * 2) - 4px);
  --rem-gap-16px: calc(var(--rem-gap-8px) * 2);
  --rem-gap-20px: calc((var(--rem-gap-8px) * 2) + 4px);
  --rem-gap-24px: calc(var(--rem-gap-8px) * 3);
  --rem-gap-32px: calc(var(--rem-gap-16px) * 2);
  --rem-gap-36px: calc((var(--rem-gap-16px) * 2) + 4px);

  /* 고정 간격 */
  --static-gap-4px: 4px;
  --static-gap-8px: 8px;
  --static-gap-12px: 12px;
  --static-gap-16px: 16px;
  --static-gap-20px: 20px;
  --static-gap-32px: 32px;
  --static-gap-64px: 64px;

  /* 기본 폰트 */
  --sans-serif: sans-serif;
  --en-heading-font-family: "Rubik Mono One", var(--sans-serif);
  --ko-heading-font-family: "Black Han Sans", var(--sans-serif);
  --en-font-family: "Archivo Black", "Mitr", var(--sans-serif);
  --ko-font-family: "IBM Plex Sans KR", "Noto Sans KR", var(--sans-serif);
  --ko-font-weight--light: 400;
  --ko-font-weight--normal: 500;
  --ko-font-weight--bold: 700;
  font-family: var(--ko-font-family);
  font-weight: bold;
  font-size: 1rem;
}

img,
button {
  vertical-align: top;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip: rect(0px 0px 0px 0px);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--en-heading-font-family);
}

ul,
details {
  list-style: none;
}

button {
  background: none;
}
