@charset "UTF-8";

#header__search-link,
#header__gnb-open-btn,
#header__gnb-close-btn,
#header__user {
  display: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2.25rem 0;
  background-color: white;
}

#logo {
  z-index: 1;
  text-align: center;
  min-width: 256px;
}

#header__service {
  margin-top: 0.7em;
  min-width: 512px;
  font-size: 0.875rem;
}

#header__service > #header__quick-menu {
  display: flex;
  justify-content: space-around;
}
#header__service .header__quick-menu-item {
  padding-right: 2em;
  border-right: 2px solid black;
  line-height: 1em;
}
#header__service .header__quick-menu-item:last-of-type {
  border-right: none;
}

#header__search {
  font-size: 0.875rem;
  min-width: 124px;
  transform: translateY(-0.25em);
}
#header__search .header__search-form {
  border-bottom: 1px solid black;
}
#header__search .header__search-input {
  padding: 8px;
  width: 20ch;
}
#header__search .header__search-submit {
  transform: translateY(30%);
  font-size: 16px;
}

#header__global-menu {
  position: absolute;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100vw;
  font-size: 1.125rem;
  transform: translateY(-3em);
}
#header__global-menu > #header__gnb {
  display: flex;
  justify-content: center;
  margin-left: 354px;
}

#header__global-menu .header__gnb-summary {
  font-weight: bold;
  line-height: 3em;
}

#header__global-menu .header__gnb-item {
  min-width: 120px;
  text-align: center;
}

#header__global-menu .header__lnb {
  font-size: 1rem;
  max-height: 0;
  visibility: hidden;
}

#header__global-menu .header__lnb .header__lnb-link {
  line-height: 3em;
}
