@charset "UTF-8";

body {
  min-width: 340px;
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  text-align: center;
  margin: 32px 0;
  /* 가변폰트 */
  font-size: calc(
    1.125rem + (((100vw - 21.25rem) / (90 - 21.25)) * (2 - 1.125))
  );
}

.package {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.package__img {
  max-width: 95%;
  text-align: center;
  margin: 0 auto;
}

.package__btn-left,
.package__btn-right {
  display: block;
  background: unset;
  position: absolute;
  min-width: 15px;
  width: 3vw;
  max-width: 30px;
  top: 50%;
  cursor: pointer;
  vertical-align: top;
}
.package__btn-left:active > img,
.package__btn-right:active > img {
  width: 90%;
}

.package__btn-left {
  left: 0;
  transform: translate(-100%, -50%);
}
.package__btn-right {
  right: 0;
  transform: translate(100%, -50%);
}
