<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        padding: 0;
        margin: 0;
      }

      ul {
        list-style: none;
      }
    </style>
    <title>slider-components</title>
  </head>
  <body>
    <ul class="slider">
      <li class="slider__item">
        <img src="img/animal2.jpg" alt="" class="slider__img" />
      </li>
      <li class="slider__item">
        <img src="img/animal2.jpg" alt="" class="slider__img" />
      </li>
    </ul>
  </body>
</html>
