.header__logo-wrap {
  text-align: center;
  background-color: white;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(0.625rem, 2vw, 1rem);
  padding: 1em 0;
}
