@charset "UTF-8";

@import "header.css";
@import "main.css";
@import "footer.css";

* {
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
}

.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  margin: -1px;
  clip: rect(1px 1px 1px 1px);
}

body {
  min-width: 280px;
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  vertical-align: top;
  max-width: 100%;
}

.banner {
  text-align: top;
  position: fixed;
  top: 25vh;
}
.banner__btn {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, -100%);
  cursor: pointer;
  font-size: clamp(8px, 2vw, 18px);
}
.banner__img {
  min-width: 50px;
  width: 10vw;
  max-width: 110px;
}
