@charset "UTF-8";

:root {
  /* FONT FAMILY */
  --FONT-FAMILY: "Noto Sans KR", "돋움", "Dotum", "맑은 고딕", "Malgun Gothic",
    "Apple SD Gothic Neo", sans-serif;
  /* BACKGROUND COLOR */
  --BG-PICTON-BLUE: #5ea9d1;
  --BG-WHITE: #fff;
  --BG-LIGHT-GRAY: #d2d2d2;
  --BG-SUMMER-SKY: #3cb2f5;
  --BG-COLUMBIA-BLUE: #9bd7fa;
  --BG-CURIOUS-BLUE: #3a7cad;
  /* BORDER COLOR */
  --BD-SUMMER-SKY: #3cb2f5;
  --BD-COLUMBIA-BLUE: #9bd7fa;
  --BD-CURIOUS-BLUE: #3a7cad;
  --BD-WHITE: #fff;
  /* FONT COLOR */
  --FONT-BLACK: #000;
  --FONT-WHITE: #fff;
  --FONT-LIGHT-GRAY: #c8c8c8;
  --FONT-CURIOUS-BLUE: #3a7cad;
  --FONT-SUMMER-SKY: #3cb2f5;
  --FONT-COLUMBIA-BLUE: #9bd7fa;
  /* FONT WEIGHT */
  --FONT-LIGHT: 300;
  --FONT-REGULAR: 400;
  --FONT-MEDIUM: 500;
  --FONT-BOLD: 700;
  --FONT-ULTRA: 900;
  /* FONT SYSTEM */
  --FONT-CAPTION: 0.75rem; /* 12px */
  --FONT-BUTTON: 0.875rem; /* 14px */
  --FONT-BODY: 1rem; /* 16px */
  --FONT-SUBTITLE: 1.125rem; /* 18px */
  --FONT-HEADLINE-LIGHT: 1.5rem; /* 24px */
  --FONT-HEADLINE-MEDIUM: 1.75rem; /* 28px */
  --FONT-HEADLINE-BOLD: 2rem; /* 32px */
  /* ICON 18px */
  --ICON-18-LIVE-AREA: 16px;
  --ICON-18-MARGIN: 15px;
  --ICON-18-PADDING: 1px;
  /* ICON 24px */
  --ICON-24-LIVE-AREA: 20px;
  --ICON-24-MARGIN: 12px;
  --ICON-24-PADDING: 2px;
  /* ICON 36px */
  --ICON-36-LIVE-AREA: 30px;
  --ICON-36-MARGIN: 6px;
  --ICON-36-PADDING: 3px;
  /* ICON 48px */
  --ICON-48-LIVE-AREA: 40px;
  --ICON-48-PADDING: 4px;

  /* FONT BASIC SETTING */
  font-family: var(--FONT-FAMILY);
  font-size: var(--FONT-BODY);
  font-weight: var(--FONT-REGULAR);
  color: var(--FONT-BLACK);
}

.body-max-min {
  min-width: 280px;
  width: 100vw;
  max-width: 1920px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  top: 0;
  left: 0;
  clip: rect(0px 0px 0px 0px);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.icon-area {
  max-width: 48px;
  max-height: 48px;
}
.icon-s {
  display: inline-block;
  margin: var(--ICON-24-MARGIN);
  padding: var(--ICON-24-PADDING);
  font-size: 24px;
}
.icon-m {
  margin: var(--ICON-36-MARGIN);
  padding: var(--ICON-36-PADDING);
  font-size: 36px;
}
.icon-l {
  padding: var(--ICON-48-PADDING);
  font-size: 44px;
}

.js-header__nav--mobile.OPEN {
  transform: translateX(0);
  transition: transform 0.2s ease-out;
}
