@charset "UTF-8";

:root {
  /* FONT FAMILY */
  --FONT-FAMILY: "Noto Sans KR", "돋움", "Dotum", "맑은 고딕", "Malgun Gothic",
    "Apple SD Gothic Neo", sans-serif;
  /* BACKGROUND COLOR */
  --BG-PICTON-BLUE: #5ea9d1;
  --BG-WHITE: #fff;
  --BG-LIGHT-GRAY: #d2d2d2;
  --BG-SUMMER-SKY: #3cb2f5;
  --BG-COLUMBIA-BLUE: #9bd7fa;
  --BG-CURIOUS-BLUE: #3a7cad;
  /* BORDER COLOR */
  --BD-SUMMER-SKY: #3cb2f5;
  --BD-COLUMBIA-BLUE: #9bd7fa;
  --BD-CURIOUS-BLUE: #3a7cad;
  --BD-WHITE: #fff;
  /* FONT COLOR */
  --FONT-BLACK: #000;
  --FONT-WHITE: #fff;
  --FONT-LIGHT-GRAY: #c8c8c8;
  --FONT-CURIOUS-BLUE: #3a7cad;
  --FONT-SUMMER-SKY: #3cb2f5;
  --FONT-COLUMBIA-BLUE: #9bd7fa;
  /* FONT WEIGHT */
  --FONT-LIGHT: 300;
  --FONT-REGULAR: 400;
  --FONT-MEDIUM: 500;
  --FONT-BOLD: 700;
  --FONT-ULTRA: 900;
  /* FONT SYSTEM */
  --FONT-CAPTION: 0.75rem; /* 12px */
  --FONT-BUTTON: 0.875rem; /* 14px */
  --FONT-BODY: 1rem; /* 16px */
  --FONT-SUBTITLE: 1.125rem; /* 18px */
  --FONT-HEADLINE-LIGHT: 1.5rem; /* 24px */
  --FONT-HEADLINE-MEDIUM: 1.75rem; /* 28px */
  --FONT-HEADLINE-BOLD: 2rem; /* 32px */
  /* ICON 48px */
  --ICON-48-LIVE-AREA: 40px;
  --ICON-48-PADDING: 4px;

  /* FONT BASIC SETTING */
  font-family: var(--FONT-FAMILY);
  font-size: var(--FONT-BODY);
  font-weight: var(--FONT-REGULAR);
  color: var(--FONT-BLACK);
}

.hidden {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  top: 0;
  left: 0;
  clip: rect(0px 0px 0px 0px);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.js-header__nav--mobile.OPEN {
  transform: translateX(0);
  transition: all 0.2s ease-out;
  visibility: visible;
}

.js-header__lnb.OPEN {
  visibility: visible;
}
