@charset "UTF-8";

/* HEADER */
.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100vw;
  border-bottom: 1px solid var(--BD-CURIOUS-BLUE);
}

/* HEADER > LOGO */
.logo__img {
  height: 60px;
  width: 205px;
}

/* HADER GNB BTN */
.gnb-btn--open {
  color: var(--FONT-CURIOUS-BLUE);
  width: 48px;
  height: 48px;
}

/* HEADER > GNB--MOBILE */
.gnb-btn--close {
  flex: 1 0 20%;
  font-size: var(--FONT-CAPTION);
}

.header__nav--mobile {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  color: var(--FONT-WHITE);
  transform: translateX(100vw);
  transition: transform 0.2s ease-in;
}
.header__gnb {
  flex: 1 0 80%;
  height: 100%;
  background-color: var(--BG-CURIOUS-BLUE);
  padding: 2.5rem 0;
  overflow-y: scroll;
}
.lnb-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0.75rem;
  border-bottom: 1px solid var(--BD-WHITE);
  font-size: var(--FONT-SUBTITLE);
  font-weight: var(--FONT-BOLD);
}

.lnb-btn > .fa-ellipsis-h {
  opacity: 0.5;
}

.header__lnb {
  /* height:0px; */
  max-height: 0px;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.5s ease;
}

.header__link {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.625rem 0 0.625rem 1.5rem;
  font-weight: var(--FONT-MEDIUM);
  font-size: var(--FONT-BODY);
}
