@charset "UTF-8";

/* HEADER */
.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100vw;
  background-color: var(--BG-WHITE);
  outline: 2px solid var(--BD-CURIOUS-BLUE);
  z-index: 2;
}

/* HEADER > LOGO */
.logo__img {
  height: calc((100% * 70) / 240);
  max-width: 100%;
  min-width: 180px;
}

/* HADER GNB BTN */
.gnb-btn--open {
  display: inline-block;
  color: var(--FONT-CURIOUS-BLUE);
  width: 48px;
  height: 48px;
  padding: var(--ICON-48-PADDING);
  font-size: 28px;
}
.header__gnb-summary {
  display: none;
}

/* HEADER > GNB--MOBILE */
.gnb-btn--close {
  flex: 1 0 20%;
  font-size: var(--FONT-BOLD);
}
.gnb-btn--close:focus {
  text-decoration: none;
}

.header__nav--mobile {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  color: var(--FONT-WHITE);
  transform: translateX(100vw);
  transition: all 0.2s ease-in;
  visibility: hidden;
}
.header__gnb {
  flex: 1 0 80%;
  height: 100%;
  background-color: var(--BG-CURIOUS-BLUE);
  padding: 2.5rem 0;
  overflow-y: hidden;
}
.lnb-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0.75rem;
  border-bottom: 1px solid var(--BD-WHITE);
  font-size: var(--FONT-SUBTITLE);
  font-weight: var(--FONT-BOLD);
}

.lnb-btn > .fa-ellipsis-h {
  opacity: 0.5;
}

.header__lnb {
  max-height: 0px;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.2s ease;
}

.header__link {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.875rem 0 0.875rem 1.5rem;
  font-weight: var(--FONT-MEDIUM);
  font-size: var(--FONT-BODY);
}
