@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

ul,
li {
  list-style: none;
}

button {
  background: none;
  color: inherit;
}
button:focus {
  outline: thin solid black;
  outline-offset: -4px;
}

img {
  vertical-align: top;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: thin solid black;
  outline-offset: -4px;
}
