@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

ul,
li {
  list-style: none;
}

button {
  background: none;
  color: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a:focus,
button:focus {
  text-decoration: underline solid white 1px;
  outline-offset: -3px;
}

img {
  max-width: 100%;
  vertical-align: top;
}
