/* HEADER */
.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: var(--bg-alabaster);
  padding: 1rem 0.5rem;
  color: var(--text-white);
}

/* LOGO */
.header__logo {
  width: 56px;
  height: 56px;
}
.header__logo-link {
  display: block;
}

/* GNB */
.header__gnb-wrap {
  display: flex;
}
.header__login,
.header__shop,
.header__gnb-btn {
  background-image: url(../../img/imageSprite/header-imageSprite.png);
  background-repeat: no-repeat;
}
.header__login {
  background-position: calc(-48px * 5) 0px;
}
.header__shop {
  background-position: calc(-48px * 4) 0px;
}
.header__gnb-btn {
  background-position: calc(-48px * 6) 0px;
}

/* LNB 1-Depth*/
.header__lnb {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--bg-rgba-black-7);
}
.header__lnb-close {
  position: relative;
  top: 18px;
  background-image: url(../../img/imageSprite/header-imageSprite.png);
  background-repeat: no-repeat;
  background-position: calc(-48px * 10) 0px;
}
.header__lnb-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 0 1rem;
  min-height: 48px;
}
.header__lnb-btn-icon {
  background-image: url(../../img/imageSprite/header-imageSprite.png);
  background-repeat: no-repeat;
  background-position: calc(-48px * 13);
}
.header__lnb-list {
  font-size: 1.125rem;
  flex-basis: 80%;
  height: 100vh;
  background-color: var(--bg-black);
  overflow-y: auto;
}
.header__lnb-item {
  border-bottom: 1px solid var(--border-nero);
}
.header__lnb-item:first-of-type {
  background-color: var(--bg-bokara-gray);
}
.header__search {
  min-height: calc(56px + 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-bokara-gray);
  border: 1px solid var(--border-nero);
}
.header__input {
  min-height: 38px;
  min-width: 100px;
  max-width: 320px;
  flex: 0 1 50%;
  border-radius: 4px;
  margin-right: 12px;
}
.header__submit {
  background-color: var(--bg-dim-gray);
  height: 38px;
  min-width: 48px;
  max-width: 125px;
  flex: 0 1 30%;
  border-radius: 4px;
}

/* SUB LNB 2-Depth*/
.header__sub-lnb {
  height: 0;
  overflow-y: hidden;
  font-size: 1rem;
  background-color: var(--bg-nero);
}
.header__sub-lnb .header__lnb-item:first-of-type {
  background-color: initial;
}
.header__sub-lnb .header__lnb-summary {
  padding-left: 10px;
  word-break: keep-all;
}

/* LAST LNB 3-Depth*/
.header__lnb-last-lnb {
  font-size: 0.875rem;
  background-color: var(--bg-night-rider);
}
.header__lnb-last-lnb .header__lnb-item {
  border-bottom: none;
  padding-left: 0;
}
.header__lnb-last-lnb .header__lnb-summary {
  padding-left: 25px;
}
