.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 16px 12px;
  background-color: var(--bg-alabaster);
}

.header__gnb--pc {
  display: none;
}

/* 로고 영역 */
.header__logo-img {
  width: 48px;
  height: 48px;
}

/* GNB 영역 */
.header__gnb-list {
  display: flex;
}
.header__gnb-item {
  background-image: url(../../img/imageSprite/header-imageSprite.png);
  background-repeat: no-repeat;
}
.header__gnb-item:nth-of-type(1) {
  background-position: calc(-48px * 5) 0;
}
.header__gnb-item:nth-of-type(2) {
  background-position: calc(-48px * 4) 0;
}
.header__gnb-item:nth-of-type(3) {
  background-position: calc(-48px * 6) 0;
}

/* LNB 영역 */
.header__lnb-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  color: var(--text-white);
  transition: all 0.3s ease-in;
  transform: translateX(100vw);
}
.header__gnb-close {
  position: relative;
  background-image: url(../../img/imageSprite/header-imageSprite.png);
  background-repeat: no-repeat;
  background-position: calc(-48px * 10);
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 14px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.header__lnb {
  width: 80%;
  height: 100%;
  background-color: var(--bg-black);
  color: var(--text-white);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  transform: translateX(100vw);
}
.header__lnb-item {
  border-bottom: 1px solid var(--border-nero);
  overflow-y: hidden;
}
.header__lnb-item[open] > .header__lnb-summary--underline {
  text-decoration: underline var(--text-white) solid;
}

.header__lnb-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1em;
  border-bottom: 1px solid var(--border-nero);
}
.header__lnb-item--bokara-gray {
  background-color: var(--bg-bokara-gray);
}
.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 16px 8px;
  background-color: var(--bg-bokara-gray);
  border-bottom: 1px solid var(--border-nero);
  padding: 0 0.75em;
}
.header__search-input {
  min-width: 48px;
  max-width: 300px;
  height: 32px;
  flex: 0 1 80%;
  border-radius: 4px;
}
.header__search-btn {
  min-width: 48px;
  max-width: 120px;
  height: 34px;
  flex: 0 1 15%;
  color: var(--text-white);
  background-color: var(--bg-dim-gary);
  border-radius: 4px;
  margin-left: 16px;
}
.header__lnb-img {
  width: 2em;
  height: 2em;
  background-image: url(../../img/imageSprite/header-imageSprite.png);
  background-position: calc(-49px * 13);
  background-repeat: no-repeat;
}
.header__lnb-link {
  display: block;
  border-bottom: 1px solid var(--border-nero);
  padding: 0.75em 1em;
}
.header__lnb--nero {
  background-color: var(--bg-nero);
}
.header__lnb-item-link {
  display: block;
  padding: 0.5em 0 0.5em 2em;
  background-color: var(--bg-night-rider);
  border-bottom: 1px solid var(--border-nero);
}
.header__lnb-item-link:last-of-type {
  border-bottom: none;
}
